<!DOCTYPE html>
<html>
<head>
  <script src="js/raphael-min.js"></script>
  <script src="js/g.raphael-min.js"></script>
  <script src="js/g.line-min.js"></script>
  <script src="js/jquery-2.0.3.min.js"></script>
  <script src="js/underscore-min.js"></script>

  <style>
    body {
      background-color: black;
      color: white;
      font-family: sans-serif;
    }
  </style>
</head>

<body>

  <h1>Failed tests plots</h1>

  <div id="failures"></div>

  <script>
    var plotWidth = $(window).width() * 0.95
      , plotHeight = plotWidth / 10
      , container = $('#failures')
      , dataActual = {{{dataActual}}}
      , dataExpected = {{{dataExpected}}}
      , r = Raphael(container.get(0), plotWidth, plotHeight)
    
    r.linechart(0, 0, plotWidth, plotHeight, 
      _.range(Math.max(dataActual.length, dataActual.length)), [dataExpected, dataActual],
      {smooth: true, colors: ['#F00', '#0F0', '#FF0'], symbol: ''})
  </script>
</body>

</html> 
